
.icon-bell:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */