
body{
    background-image: url(img/fota.jpg);
    background-size: cover;
}
body section{
    border: 2px solid black;
    padding: 3%;
    background-color: rgba(128, 128, 128, 0.295);
    margin-bottom: 2%;
}
section{
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    
    
}

body section .view{
    display: flex;
    justify-content: space-evenly;
    
}
 body section .view div{
     
     padding: 2%;
     flex: 1;
     justify-content: center;
     display: flex;
     margin: 2%;
     background-color: rgba(128, 128, 128, 0.144);
 }
   
 

a{
    display: flex;
    justify-content: right;
    text-decoration: none;
    color: black;
    margin-bottom: 4px;

    padding: 2%;
   
}


div a{
    
    background-color: rgba(255, 245, 238, 0.116);
    margin-right: 70%;
    
    
    
}
footer{
    text-align: end;
    color: gray;
}
@media(max-width:750px){

}